* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: gray;
}

.white {
    background-color: lightgrey;
}

.selected {
    background-color: orange;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgrey;
}

.timer {
    margin-right: 20px;
}

.btn {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 2px;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: gray;
}

.btn:active {
    transform: scale(1.05, 1.05);
}

